<link rel="stylesheet" href="static/style/items.css" />
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.button.js"></script>
       <span id="section_title" class="box">
            Campus News
        </span>
	<div id="content" class="box">
		<div id="barleft">

             <table>
                    <tr>
                    <td> 
                        <a href="#" class="upper"></a>
                        <a href="#" class="downer"></a>
                    </td>

                    <td>
                        <span class="title"><a href="#" style="font-family:'微软雅黑'; ">人文社会科学学院首改学生会制度和架构 </a></span>
                        <span class="subtitle">开始学习的时候，大家都会觉得有一定的意思，所以需要有很多的方法...</span>
                        <span class="date">Date:2012-6-12</span>
                        <span class="from">研究生院</span>
                    </td>
                    </tr>
                </table>

             <table>
                    <tr>
                    <td> 
                        <a href="#" class="upper"></a>
                        <a href="#" class="downer"></a>
                    </td>

                    <td>
                        <span class="title"><a href="#" style="font-family:'微软雅黑'; ">人文社会科学学院首改学生会制度和架构 </a></span>
                        <span class="subtitle">开始学习的时候，大家都会觉得有一定的意思，所以需要有很多的方法...</span>
                        <span class="date">Date:2012-6-12</span>
                        <span class="from">研究生院</span>
                    </td>
                    </tr>
                </table>

             <table>
                    <tr>
                    <td> 
                        <a href="#" class="upper"></a>
                        <a href="#" class="downer"></a>
                    </td>

                    <td>
                        <span class="title"><a href="#" style="font-family:'微软雅黑'; ">人文社会科学学院首改学生会制度和架构 </a></span>
                        <span class="subtitle">开始学习的时候，大家都会觉得有一定的意思，所以需要有很多的方法...</span>
                        <span class="date">Date:2012-6-12</span>
                        <span class="from">研究生院</span>
                    </td>
                    </tr>
                </table>
			
		</div><!-- barleft -->

		<div id="baright">
            <a href="#">研究生院(7)</a>
            <a href="#">信息工程学院(7)</a>
            <a href="#">城市发展学院(7)</a>
            <a href="#">汇丰商学院(7)</a>
            <a href="#">国际法学院(7)</a>
		</div><!-- baright -->
		
	</div><!-- content -->
	
