$def with(station_name, newslist, stations)

<link rel="stylesheet" href="static/style/items.css" />
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.button.js"></script>
       <span id="section_title" class="box">
            $station_name
        </span>
	<div id="content" class="box">
		<div id="barleft">

$for new in newslist:
                <table>
                    <tr>
                    <td style="width:50px;"> 
                        <a href="#" class="upper"></a>
                        <a href="#" class="downer"></a>
                    </td>

                    <td>
                        <span class="title"><a href="/sigle?id=$new['id']" style="font-family:'微软雅黑'; ">$new['title'] </a></span><br/>
                        <span class="date">Date:$new['date']</span>
                        <span class="from">$new['station']</span>
                    </td>
                    </tr>
                </table>

<a href="#">Show More</a>

			
		</div><!-- barleft -->

<div id="baright">
$for s in stations:
    <a href="/items?station_id=$s['id']">$s['name']
        ($s['num'])
    </a>
</div><!-- baright -->
		
	</div><!-- content -->
	
