<link type="text/css" rel="stylesheet" href="static/style/profile_edit.css"/>


<div id="content" class="box">
    <div id="profile_nav">
        <span class="li inactive">
            <a href="/profile_edit">Edit Profile</a>
        </span>
    <span class="separator"> > </span>
        <span class="li ">
            <a href="/profile_select_tags">Select Tags</a>
        </span>
    <span class="separator"> > </span>
        <span class="li inactive">
            <a href="/profile_join_circles">Join in Circles</a>
        </span>
    </div><!-- end profile_nav -->

    <table id="format" class="form">
        <tr>
            <td>性别</td>
            <td>
                <input type="checkbox" id="check1" /><label for="check1">男生</label>
                <input type="checkbox" id="check2" /><label for="check2">女生</label>
            </td>
        </tr>
        <tr>
            <td>兴趣</td>
            <td>
                <input type="checkbox" id="check3" /><label for="check3">篮球</label>
                <input type="checkbox" id="check4" /><label for="check4">足球</label>
                <input type="checkbox" id="check5" /><label for="check5">跑步</label>
                <input type="checkbox" id="check6" /><label for="check6">游泳</label>
                <input type="checkbox" id="check7" /><label for="check7">看书</label>
            </td>
        </tr>
        <tr>
            <td>研究方向</td>
            <td>
                <input type="checkbox" id="check8" /><label for="check8">互联网</label>
                <input type="checkbox" id="check9" /><label for="check9">嵌入式开发</label>
                <input type="checkbox" id="check10" /><label for="check10">图形</label>
                <input type="checkbox" id="check11" /><label for="check11">密码安全</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button">Update</button>
                &nbsp;
                &nbsp;
                <button type="reset">Cancel</button>
                
        </tr>
    </table>


</div><!-- end content -->

<script>
jQuery(function(){
    jQuery("#format").buttonset();
});
</script>
