$def with(news, stations)
<style>
#title{
    color:#4183c4;
    font-size:25px;
    font-weight:bold;
}
div#barleft{
    padding:10px;
    float:left;
    width:700px;
    border:1px solid #eee;
}
div#baright 
{
    padding:10px;
}

div#barleft span#bar{
    display:block;
    padding:5px;
}

div#baright{
    float:left;
    margin-left:15px;
    width:200px;
    border:1px solid #eee;
}
div#baright a{
    display:block;
    color:#4183c4;
}
</style>
	<div id="content" class="box">
		<div id="barleft">
            <span id="title">$news['title']</span>
            <span id="bar">Date:$news['date'] &nbsp;&nbsp; from:$news['station']</span>
            <div id="content">
            $:news['content']
            </div>
		</div><!-- barleft -->

		<div id="baright">
$for s in stations:
    <a href="/items?station_id=$s['id']">$s['name']
        ($s['num'])
    </a>
</div><!-- baright -->
		
</div><!-- content -->
	
	
