$def with(userinfo, message_count, messages, news, circles)

<link rel="stylesheet" href="static/style/style.css" />
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.mouse.js"></script>
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.draggable.js"></script>
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.position.js"></script>
<script src="static/js/jquery-ui/development-bundle/ui/jquery.ui.dialog.js"></script>
<style>
.reply-content{
    width:80%;
    border:1px solid #eee;
    clear:both;
}
table.message{
    width:100%;
}
</style>
<div id="content" class="box">
		<div id="barleft">
			<img id="user_img" src="$userinfo['logo_url']" />
            <div style="width:100%; padding:10px;">
                <span id="user_name">$userinfo['name']</span>
                    <hr />
                <ul id="user_profile">
                    <li>$userinfo['university']</li>
                    <li>$userinfo['email']</li>
                    <li>$userinfo['pos']</li>
                </ul>
                <hr />
                <table id="user_new_messages">
                    <tr class="first_line"><td>23</td> <td>0</td> <td>12</td></tr>
                    <tr class="second_line"><td>News</td><td><a href="/own_messages">Follower</a></td><td>Messages</td></tr>
                </table>

            </div><!-- end div -->
		</div><!-- barleft -->
		
		<div id="baright">
			<ul id="message_source_tag">
				<li><a href="#tabs-1">News</a></li>
				<li><a href="#tabs-2">Messages</a></li>
                <li><a href="#tabs-3">Push your message</a></li>
			</ul>
            <div id="tabs-1" class="tab_box">
            <div id="news-box">
$for new in news:
                <table>
                    <tr>
                    <td style="width:50px;"> 
                        <a href="#" class="upper"></a>
                        <a href="#" class="downer"></a>
                    </td>

                    <td>
                        <span class="title"><a href="/sigle?id=$new['id']" style="font-family:'微软雅黑'; ">$new['title'] </a></span><br/>
                        <span class="date">Date:$new['date']</span>
                        <span class="from">$new['station']</span>
                    </td>
                    </tr>
                </table>

</div><!-- end news-box -->
<input id="news_page_val" type="hidden" val=1/>
<img src="static/images/btn-back-to-top.png"  id="back_to_top"/> 
<a href="#" id="news_show_more">Show More</a>

</div><!-- end tabs-1 -->

<div id="tabs-2" class="tab_box" style="padding:0;">
			
$for message in messages:
    <table class="message message_$message['id']">
    <tr>
    <td valign="top" style="width:80px;"> 
        <a href="#" class="upper"></a>
        <a href="#" class="downer"></a>
    </td>

    <td>
        <span class="title"><a href="#" class="title" tobox="$message['id']" style="font-family:'微软雅黑'; ">$message['title'] </a></span>
        <button class="follow" type="button" to="$message['id']">Follow</button>
        <span class="subtitle replyto">$message['summary']</span>
        <span class="date">Date:$message['date']</span>
        <span class="from">研究生院</span>
		<div id="box_$message['id']" class="message-content">
            $:message['content']
            <form class="reply">
                <textarea name="reply" id="reply_$message['id']" class="reply-content"></textarea>
                <br/>
                <button type='button' class="reply_bn" linkto="$message['id']">reply</button>
            </form><!-- textarea -->
        </div>
    </td>
    </tr>
    </table>
<a href="#">Read more</a>
</div><!-- end tabs-2 -->

            <div id="tabs-3" class="tab_box">
                <form id="push_message">

<!-- dialog -------------------------------------->
<div id="dialog-message" title="Filter Tags">
    <div>

<style>
#tags input{
    font-size: 20px;
}
</style>
<select name='circle'>
$for c in circles:
    <option value='$c["id"]'>$c['name']</option>
</select>
    </div>
</div>
<!-- dialog -------------------------------------->

                    <table>
						<tr>
							<td valign="top"><button id="filter_bn" type="button">Filter</button></td>
							<td></td>
						</tr>
                        <tr>
                            <td valign="top">Title</td>
                            <td><input name='title' id="title" type="text" /></td>
						</tr>
                        <tr>
							<td valign="top">Summary</td>
							<td><textarea  name='summary' id="summary"></textarea></td>
						</tr>
						<tr>
							<td valign="top">Message</td>
							<td><textarea name='content' id="message"></textarea></td>
						</tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" id='push'>Push</button>
								<button type="reset">Cancel</button>
							</td>
                        </tr>
                    </table>
                </form>

            </div><!-- end tabs-3 -->
		</div><!-- baright -->
</div><!-- end content -->


<div id="push-message" title="推送对象">
    <p>您的信息已经推送给：</p>
    <div class='box'></div>
</div><!-- end dialog-message -->


<div id="reply-message" title="回复成功" style="width:200px; overflow:hidden;">
    <p>您的信息已经成功回复给：</p>
    <div class='box'></div>
</div><!-- end dialog-message -->


<div id="follow-message" title="Succeed follow">
    <p>Succeed follow!</p>
</div><!-- end dialog-message -->
<script>
jQuery(function(){
    jQuery("#baright").tabs();

    jQuery( "#follow-message" ).dialog({
        modal: true,
        autoOpen: false,
        buttons: {
            Ok: function() {
                //ok
                jQuery( this ).dialog( "close" );
            }
        }
    });

    jQuery( "#reply-message" ).dialog({
        modal: true,
        autoOpen: false,
        buttons: {
            Ok: function() {
                //ok
                jQuery( this ).dialog( "close" );
            }
        }
    });


    jQuery("button.follow").button().live("click", function(){
        var _to = jQuery(this).attr('to');        
        
        jQuery.get('ajax/follow',{to:_to},
            function(data) {
                //alert('ok');
                jQuery("#follow-message").dialog("open");
            });
    });
        

	jQuery("form#push_message button").button();
	jQuery("#tags").buttonset();

    // ajax 传回message内容
    jQuery("table.message a.title").click(function(){
        var _this = jQuery(this);
        var id = _this.attr("tobox");
        var _content = jQuery("#box_" + id);
        _content.show(1000);
		return false;
    });

    // dialog
    jQuery( "#dialog-message" ).dialog({
        modal: true,
        autoOpen: false,
        buttons: {
            Ok: function() {
                //ok
                //filter_input 
                var txt = '';
                var tags = jQuery('td.yn input[type="checkbox"]:checked');
                tags.each(function(){
                    txt = txt + jQuery(this).val();
                });
                //alert(txt);
                jQuery("#filter_input").val(txt);
                jQuery( this ).dialog( "close" );
            }
        }
    });
	
    jQuery("#filter_bn").click(function(){
        jQuery("#dialog-message").dialog("open");
        return false;
    });	

    //back to top
    jQuery("#back_to_top").click(function(){
            jQuery("html, body").animate({ 
                scrollTop: "0px"
            }, 700);
    });

    //load more pages
    jQuery("#news_show_more").click(function(){
        //ajax load more page
        var page = jQuery("#news_page_val").val();
        //add page
        jQuery("#news_page_val").val(page+1);
        //ajax
        jQuery.get('ajax/load_more_news',
            { page: page },
            function(data) {
            //succeed
            var _new = jQuery(data);
            jQuery("div#news-box").append(_new);
            var tables = jQuery("div#news-box table.hidden");
            tables.each(function(){
                var _this = jQuery(this);
                _this.fadeIn(1000);
                //_this.slideDown(3000);
            });
            jQuery("html, body").animate({ 
                scrollTop: jQuery(document).height()
            }, 1000);
        });
        return false;
    });

});

//filter_input

    jQuery( "#push-message" ).dialog({
        modal: true,
        autoOpen: false,
        buttons: {
            Ok: function() {
                //ok
                jQuery( this ).dialog( "close" );
            }
        }
    });
//submit message
jQuery("button#push").click(function(){
    var url = "/ajax/push_message";    
    jQuery.ajax({
        type: "POST",
        url: url,
        data: jQuery("#push_message").serialize(),
        success: function(data)
        {
            //method
            //alert(data);
            var _userlist = jQuery(data);
            jQuery("#push-message .box").html(_userlist);
            //show dialog
            jQuery("#push-message").dialog("open");
        }
    });
    return false;
});

//submit reply
jQuery("button.reply_bn").button().live('click', function(){
    var _this = jQuery(this);
    var message_id = _this.attr("linkto");
    var content = jQuery("#reply_" + message_id).val();
    var replyto = jQuery(".message_" + message_id + " .subtitle").text();
    // post to add reply
    //alert(content);
    jQuery.ajax({
        type: "POST",
        url: "/ajax/reply",
        data:{
            messageid: message_id,
            replyto: replyto,
            content: content
        },
        success: function(data)
        {
            var _this = jQuery("#reply-message");
            jQuery("#reply-message .box").html(data);
            _this.dialog("open");
        }
    });//end jQuery post
    
});

//动态刷新message
function updateMessage(){
    jQuery.ajax({
        type: "GET",
        url: "/ajax/get_new_items",
        data:{user_id: 1},
        success: function(data)
        {
            //alert(data);          
            //add content to first
            var _content = jQuery(data);
            jQuery("#tabs-2").prepend(_content);
            //start to show
            var _ms = jQuery("#tabs-2 table.hidden");
            jQuery("#tabs-2 table.hidden button").button();
            _ms.each(function(){
                var _this = jQuery(this);
                _this.fadeIn(2000);
                _this.removeClass("hidden");
            });
            // movement
        }
    });
}

//setInterval("updateMessage()", 10000);



</script>
